ul{
    list-style-type:none;
    margin: 0;
    padding: hidden;
    overflow: hidden;
    background-color:rgb(46, 17, 54)
}

li{
    float: left;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:rgb(146, 88, 88)
}

.container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;

}
